<p><b><i>Yung Dai</i></b></p>

<p>375 Berkeley St., Toronto, Ontario, M5A 2X8 • Phone Number: (416) 923-6673 • Email: yungchidai@gmail.com</p>
<hr>
<p><b>Employment</b></p>

<p><b>Wireless Data Specialist</b> <b> Rogers Wireless Winter 2002 – Summer 2014</b></p>

<p><b><br />
</b>Rogers Wireless Network </p>

<p>· Assessed and designed custom network data solutions for customers using the Rogers network</p>

<p>· Assisted with implementing deployments of hardware and software for custom solutions</p>

<p>· Managed the relationship between the Rogers Wireless Engineers and Enterprise clients to build custom solutions</p>

<p><b>Technical Support Analyst</b> <b>Rogers Cable Winter 1999 – Winter 2002 </b></p>

<p>· Rogers Cable Network support and analysis</p>

<p>· Client hardware and software support.</p>
<hr>
<p><b>Education</b></p>

<p>October 2014 – December 2013 <b>Bitmaker Labs</b></p>

<p>Toronto, Ontario</p>

<p>Web Design Program</p>

<p>September 1996 - June 1997 <b>Seneca College</b></p>

<p>Toronto, Ontario </p>

<p>Computer Graphics/Technical Program</p>

<p>September 1990 - June 1995 <b>Laurentian High School</b></p>

<p>Ottawa, Ontario </p>
<hr>
<p><b>Technical Experience:</b></p>

<p>Wireless Networks:</p>

<p>· TDMA/GSM/GPRS/EDGE/UTMS/HSPA/LTE Wireless network experience</p>

<p>· </p>
<hr>
<p><b>References</b></p>

<p>Available upon request</p>
